
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
TabWidth: 4

BreakBeforeBraces: Allman
ColumnLimit: 120

PointerAlignment: Left
ReferenceAlignment: Left

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

NamespaceIndentation: None
SortIncludes: CaseInsensitive
IncludeBlocks: Preserve

SpaceAfterTemplateKeyword: true
Cpp11BracedListStyle: true
FixNamespaceComments: true
